<div class="container form-container">
<h2 class="text-center">Add a new dose</h2>
  <%= simple_form_for [@cocktail, @dose] do |f| %>
    <div class="input-group mb-3">
      <%= f.label :description %>
      <%= f.text_field :description, placeholder: "3cl" %>
    </div>
    <div class="input-group mb-3">
      <%= f.association :ingredient, label: false, prompt: "Choose ingredient" %>
    </div>
      <%= f.submit 'Add!' %>
  <% end %>
</div>